body {
    background: #F3F5FC;
    font-family: "Montserrat", sans-serif;
}

.logo {
    position: relative;
    margin-top: 2em;
    margin-left: 2em;
    clear: both;
}

.entrada {
    width: 70%;
    margin: 0 auto;
}

textarea {
    display: block;
    color: #0A3871;
    font-size: 24px;
    border: None;
    background: #F3F5FC;
    margin-bottom: 50px;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
}

textarea:hover {
    display: block;
    font-size: 24px;
    border: #0A3871 solid;
    
}

.exclamacion{
    width: 16px;
    height: 16px;
    margin: 0 10px;


}

.notificacion {
    display: block;
    margin: 0 0 25px 0;
    padding: 10px;
    color: #495057;

}

.encriptar {
    width: 35%;
    height: 70px;
    border-radius: 24px;
    background: #0A3871;
    color: white;
    border-color: white;
    margin-right: 20px;
    border-style: solid;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;

}

.descriptar {
    width: 35%;
    height: 70px;
    border-radius: 24px;
    background: #D8DFE8;
    color: #0A3871;
    font-weight: bold;
    border-color: #0A3871;
    margin-right: 20px;
    border-style: solid;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;

}


.texto-resultado{
    width: 380px;
    height: 770px;
    background: white;
    position: absolute;
    left: 70%;
    top: 5%;
    margin-top: 10px;
    border-radius: 35px;
   
}

.muneco {
    text-align: center;
    padding: 20px;
    margin-top: 40%;
}

.texto1 {

    text-align: center;
    font-size: 18px;
    font-weight: bold;

}


.texto2 {
    text-align: center;
    font-size: 14px;
    padding: 15px;

}